version: "3"
services:
  red:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    env_file: .env
    volumes:
      - data:/data
    command: sh -c "redbot docker --no-prompt --token $$BOT_TOKEN --prefix $$BOT_PREFIX $$BOT_EXTRA_ARGS"

volumes:
  data:
