version: "3"
services:
  red:
    image: docker.pkg.github.com/abelfodil/red-discordbot-docker/red:latest
    restart: always
    env_file: .env
    volumes:
      - data:/data
    command: sh -c "redbot Red-DiscordBot-Docker --no-prompt --prefix $$PREFIX --token $$TOKEN $$EXTRA_ARGS"

volumes:
  data:
